body {
  background-color: #0097FF;
  text-align: center;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 80px;
}

h2 {
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
}
